:root {
    --action--hover:#00B4CF;
    --filter--yellow:#FF9A2A;
    --filter--green:#7FBC39;
  
    --light-green-blue:#00B4CF;
    --dark-green-blue:#01869A;
  
    --light-black:#435466;
    --dark-black:#2D4054;
  
    --light-white:#F3F3F3;
    --dark-white:#E1E4E6;
  }


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-black);
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    background-color: var(--dark-white);
}

.header {
    flex: 10%;
    text-align: center;
    padding-top: 2%;
    /* align-items: center; */
    display: block;
    position: relative;
    max-height: 70px;
    background-color: white;;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header-text-big {
    color: var(--light-green-blue); 
    font-size: 50px;
}

.header-text-small {
    color: var(--light-black); 
    font-size: 35px;
}

.header .user-signin {
    position: relative;
    left: 40%;
    bottom: 50%;
    display: inline-block;
}


.button-user{
    height: 40px;
    width: 40px;
    border: 0px;
    color: var(--dark-black);
    background-color: white;
    border-radius: 80%;
  }
 
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }


.dropdown-profile {
    display: flex;
}

.dropdown-profile .profile-icon {
    flex: 30%;
    height: 18px;
    width: 18px;
    margin-top: 12px;
    margin-left: 20px;
}

 .dropdown-content .dropdown-profile a{
    flex: 70%;
    text-align: start;
    color: var(--dark-black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-signout {
    display: flex;
}

.dropdown-signout .signout-icon {
    flex: 30%;
    height: 18px;
    width: 18px;
    margin-top: 12px;
    margin-left: 20px;
}

.dropdown-content .dropdown-signout a{
    flex: 70%;
    text-align: start;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: var(--dark-black);
}

.dropdown-profile:hover {
    background-color: #EFEFEF;
}

.dropdown-signout:hover {
    background-color: #EFEFEF;
}


.user-signin:hover .dropdown-content {
    display: block;
}



.main-body {
    flex: 85%;
    display: flex;
    height: 100%;
    width: 70%;
    justify-self: center;
    align-self: center;
    overflow: auto;
    position: relative;
    background-color: var(--dark-white);
}

.main-body aside {
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
    height: 800px;
    width: 20%;
    color: var(--light-white);
    background-color: var(--dark-black);
}

aside .sidebar-actions {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.actions-item {
    display: flex;
    flex: 1;
    height: 20px;
    align-items: center;
    position: relative;
    color: var(--light-white);
    text-decoration-line: none;
}

#actions-item-agent {
    display: flex;
    flex: 1;
    height: 20px;
    align-items: center;
    position: relative;
    color: var(--action--hover);
    background-color: var(--light-black);
}

#actions-item-agent:hover {
    display: flex;
    flex: 1;
    height: 20px;
    align-items: center;
    position: relative;
    color: var(--light-white);
    background-color: var(--dark-black);
    text-decoration-line: none;
} 

#actions-item-agent .actions-icon {
    fill: var(--action--hover);
}

#actions-item-agent:hover .actions-icon {
    fill: var(--light-white);
}

#actions-item-agent .actions-text {
    position: relative; 
    left: 17%;
}

.actions-item:hover {
    color: var(--action--hover);
    background-color: var(--light-black);
}

.actions-icon {
    left: 10%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    overflow: hidden;
    fill: #ffffff;
}

.actions-item:hover .actions-icon {
    fill: var(--action--hover);
}

.actions-text {
    position: relative; 
    left: 17%;
}


.sidebar-history {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left ;
}

#history-title {
    margin-left: 20px;
    margin-top: 80% ;
    font-size: 24px;
    color: #ccc;
}

#history-list {
    display: flex;
    margin-bottom: 2px;
    flex-direction: column;
    margin-top: 0;
    font-size: 12px;
    color: #999;
    margin-bottom: 3px;
}

.history-statement:hover {
    color: var(--light-green-blue);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 15px;
    margin-left: 35px;
    width: 80%;
    color: var(--light-white);
    background-color: var(--dark-white);
}

.main-content .main-dashboard {
    display: flex;
    margin-bottom: 10px;
    flex: 17%;
    background-color: var((--dark-white));
}


.dashboard-building-block {
     display: flex;
     flex: 1;
     position: relative;
     margin-right: 20px;
     background-color: #FF9A2A; 
}


.dashboard-building-block .dashboard-text {
    font-size: 18px;
    font: bold;
    position: relative;
    left: 20px;
    color: var(--light-white);
}

.dashboard-building-block .dashboard-background {
    max-height: 144px; 
    max-width: 144px;
    min-height: 50px;
    min-width: 50px;
    opacity: 20%;
    left: 10%;
}

.dashboard-building-block:hover .dashboard-background {
    max-height: 144px; 
    max-width: 144px;
    min-height: 50px;
    min-width: 50px;
    opacity: 20%;
    left: 10%;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    100% {transform: rotate(360deg);}
  }

.dashboard-building-block .dashboard-number {
  color: var(--light-white); 
  font-size: 48px; 
  position: absolute;
  right: 5%;
}

  
.dashboard-idle-block {
    display: flex;
    flex: 1;
    margin-right: 20px;
    position: relative;
    background-color:var(--filter--green); 
  }

.dashboard-idle-block .dashboard-idle-text {
    font-size: 18px; 
    font: bold; 
    position: relative; 
    left: 20px;
    color: var(--light-white);
}

.dashboard-idle-block #dashboard-idle-background {
    max-height: 144px; 
    max-width: 144px;
    min-height: 50px;
    min-width: 50px;
    opacity: 20%;
    left: 10%;
}

.dashboard-idle-block .dashboard-idle-number {
    color: #f3f3f3; 
    font-size: 48px; 
    position: absolute; 
    right: 10%;
}


.main-dashboard .dashboard-info-block {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    color: var(--dark-black);
    background-color: var(--light-white);;
}

.dashboard-info-block .table-item {
    font-size: 12px;
  }
  
.dashboard-info-block .table-number {
    font-size: 20px;
  }


.main-content .main-filter {
    flex: 7%;
    display: flex;
    margin-bottom: 10px;
    position: relative;
    min-height: 50px;
    background-color: var(--light-white);
}

.main-filter .filter-button {
    flex: 10%;
    position: relative;
    border: 5px;
    border-right: 1px solid var(--dark-white);
    background-color: var(--light-white);
}

#filter-button-all {
    flex: 10%;
    position: relative;
    border: 5px;
    border-right: 1px solid var(--dark-white);
    border-bottom: solid var(--light-green-blue);
}

#filter-button-all:hover {
    flex: 10%;
    position: relative;
    border: 5px;
    border-right: 1px solid var(--dark-white);
    background-color: var(--light-white);
}

.filter-button:hover {
    border-bottom: solid var(--light-green-blue);
}

.main-filter .filter-input {
    display: flex;
    flex: 15%;
    left: 10%;
    position: relative;
    top: 25%;
    height: 50%;
    width: 80%;
    border: 0px;
    min-width: 60px;
    background: url("img/search.svg") no-repeat 16px 16px;
    background-color: rgb(212, 207, 207);
}

.filter-input img {
    height: 20px; 
    width:20px;
    margin-top: 4%; 
    margin-left: 2%;
}

.filter-input input {
    width: 90%;
    border: 0px;
    background-color: rgb(212, 207, 207);

}

.main-filter .filter-icons {
    flex: 60%;
    align-items: center;
    position: relative;
    margin-top: 8px;
    height: 20px;
}

.filter-icons .filter-form-icon {
    width: 40px;
    justify-content: end;
    margin-left: 30%;
    fill: #515151;
    position: relative;
    left: 40%;
}

.filter-form-icon:hover {
    fill: var(--action--hover);
}

.filter-icons .filter-list-icon {
    width: 40px;
    size: 10px;
    position: relative;
    left: 50%;
    fill: #515151;
}

.filter-list-icon:hover {
    fill: var(--action--hover);
}

.main-content .main-list {
    display: flex;
    flex-direction: column;
    flex: 76%;
    background-color: var(--dark-white);
}

.main-list .list-item {
    flex:1;
    display: flex;
    margin-bottom: 15px;
    max-height: 80px;
    /* overflow: auto; */
    color: var(--dark-black);
    background-color:var(--light-white) ;
}

.list-item .list-icon {
    flex:20%;
    size: 80px;
    padding: 10px;
}


.list-item .list-item-right {
    flex: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}




.list-item-right .item-first-line {
    size: 16px;
    flex: 50%;
    width: 100%;
    display: flex;
}

.item-first-line .firstline-left {
    flex: 50%;
    display: flex;
}

.firstline-left .left-icon1 {
    height: 16px;
    margin-top: 10px;
}

.firstline-left .firstline-labtop {
    top:5px;
    margin-top: 8px;
    margin-right: 15px;
    font-weight: bold;
    color: var(--light-green-blue);
}

.firstline-left .firstline-condition {
    margin-top: 8px;
    height: 50%;
    text-align: center;
    width: 14%;
    color: var(--light-white);
    background-color: var(--filter--green);
} 


.item-first-line .firstline-right {
    flex: 50%;
    display: flex;
    font-size: 14px;
    margin-top: 10px;
}

.firstline-right .right-info-icon {
    height: 16px;
}

.firstline-right .firstline-info  {
    top:5px;
    margin-right: 15px;
}

.firstline-right .right-file-icon {
    height: 16px;
}

.firstline-right .firstline-files {
    top:5px;
    margin-right: 15px;
}

.list-item-right .item-second-line {
    flex: 50%;
    display: flex;
    width: 100%;
}

.item-second-line .secondline-left {
    flex: 50%;
    align-self: center;
    display: flex;
    margin-bottom:0;
    width: 100%;
}

.secondline-left .button-second-line-plus {
    font-size: 18px;
    color: var(--light-white);
    border: 0px;
    background-color: var(--light-green-blue);
}
  
.secondline-left .button-second-line-plus:hover {
    font-size: 18px;
    background-color: var(--dark-green-blue);
}

.button-second-line-delete {
    border: 0px;
    font-size: 14px;
    display: flex;
    border-color: var(--light-white);
    background-color: #EFEFEF;
    color: var(--dark-black);
}
  
.button-second-line-delete:hover {
    background-color: var(--dark-white);
}
  
.secondline-button-delete {
    height: 12px;
    margin-top: 2px;
}

#secondline-icon-deny {
    height: 12px;
    margin-right: 5px;
    margin-left: 3px;
}

.button-second-line-deny{
    display: flex; 
    right: 10%;
    bottom: 0px;
    border: 0px;
    font-size: 14px;
    height: 30px;
    width: 70px;
    border-radius:0%;
    text-align: center;
    align-items: center;
    color: var(--light-white);
    background-color: var(--light-green-blue);
}
  
.button-second-line-deny:hover {
    background-color: var(--dark-green-blue);
}

.item-second-line .secondline-right {
    flex: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin-right: 5%;
    width: 100%;
}

.thoughtworks-footer {
    height: 7%;
    display: flex;
    box-shadow: 0px 0px 5px rgb(194, 193, 193); 
    flex-direction: column;
}

.thoughtworks-footer .footer-text {
    flex: 20%;
    min-height: 25px;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    /* height: 20%; */
    background-color: var(--light-white);
}

.thoughtworks-footer .footer-number {
    flex: 80%;
    text-align: right;
    margin-top: 0;
    padding-right: 2%;
    color: #8b8989;
    background-color: var(--dark-white);
}